<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.Title %>
</p>

<p>
  <b>Slug:</b>
  <%= @article.Slug %>
</p>

<p>
  <b>Description:</b>
  <%= @article.Description %>
</p>

<p>
  <b>Content:</b>
  <%= @article.Content %>
</p>

<p>
  <b>Post type:</b>
  <%= @article.Post_type %>
</p>

<p>
  <b>Post status:</b>
  <%= @article.Post_status %>
</p>

<p>
  <b>Post date:</b>
  <%= @article.Post_date %>
</p>

<p>
  <b>Hit count:</b>
  <%= @article.hit_count %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
